@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h2 {
  font-family: 'Abril Fatface', cursive;
  text-transform: lowercase;
}

.template {
  visibility: hidden;
}

.student {
  border: 1px solid #ddd;
  padding: 0.75rem 1.25rem;
  height: 4rem;
  transition: 0.25s;
}

.student + .student {
  border-top: 0;
}

.student-name {
  float: left;
  line-height: 38px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 255px)
}

.actions {
  float: right;
  margin-bottom: 0;
}

.actions .button {
  padding: 0.5em 0.69em 0.5em 0.64em;
  font-size: 1.2rem;
}

.actions .button:hover {
  transform: scale(1.1)
}

.promoted {
  background-color: #ffa807;
  border-color: #ffc656;
}

.student:first-child button.move-up,
.student:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}

[contenteditable="true"]:hover {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 2px;
}

[contenteditable="true"]:focus {
  outline-width: 5px;
}

.button.success,
.button.success:hover {
  color: white;
}